<% provide(:title, 'Contact') %>
<!DOCTYPE html>
    <head>
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Contacts Page</h1>
    </body>
</html>