<% provide(:title, 'All User') %>
<h1>All the users</h1>

<ul class="users">
<%# without for each we can list multiple li %>
    <%= render @users %>
</ul>
<div class="custom_pagination">
    <%= will_paginate %>
</div>