/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding-top: 60px;
    background-color: rgba(213, 241, 226, 0.479);
    background-size: 100%;
    color: rgb(54, 49, 59);
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* a:link {
    color: black;
}

a:hover {
    color:purple;
}
a:visited {
    color: clear;
} */

#user {
    font-family: 'Arial, Helvetica, sans-serif';
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
}

#user th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: beige;
}

.new_student{
    font-size: 28px;
}

.container1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 70px;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #04AA6D;
    color: rgb(19, 17, 17);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  