@import "bootstrap-sprockets";
@import "bootstrap";

// color
$light-gray: #777;
$white: #fff;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
// typography

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1{
    font-size: 3rem;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}


.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: rgb(129, 119, 119);
        text-decoration: none;
    }
}

// footer

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1 px solid $gray-medium-light;
    color: $light-gray;
    a {
        color: $gray;
        &:hover{
            color: $gray-darker;           
        }
    }
    small{
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

@media (max-width: 800px){
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
            li {
                float: none;
                margin-left: 0;
            }
        }
    }
}

.userBtnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details{
    background-color: rgba(94, 168, 190, 0.904);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    text-align: center;
    p{
        color: rgb(11, 13, 14);
    }
}

// sidebar

aside {
    section.user_info {
        margin-bottom: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child{
            border: 0;
            padding-top: 0;
        }
        h1{
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

// form
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing
}

input {
    height: auto !important;
}

#error_explanation{
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: red;
    }
}


.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}